.row:after,
.clearfix:after{
	content:'';
	display:table;
	clear:both;
}
html,body{
	height: 100%;
}

body{
	min-width: 320px;
	font: 16px/28px 'Oxygen', sans-serif;
	color: #000;
	background: #fff;
	margin: 0;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust:none;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}
p{
	margin: 0 0 20px;
}
p:last-child{
	margin: 0;
}
ol,
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
ol{counter-reset:section;}
ol>li{
	counter-increment:section;
	position:relative;
}
ol>li:before{
	float:left;
	vertical-align:top;
	content:"" counter(section) " -";
	padding:0 3px 0 0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
img{
	vertical-align:top;
	border-style:none;
	max-width: 100%;
	height: auto;
}
a{
	color: #000;
	text-decoration: underline;
	transition: all 0.2s ease;
}
a:hover{
	text-decoration: none;
}
/* a[target="_blank"]::after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
	margin: 0 3px 0 5px;
} */

input[type=text], input[type=submit], input[type=button],
input[type=password], input[type=file], textarea{
	-webkit-appearance:none;
}
input[type="number"]{
	-moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button{
	display: none;
}
button,
input,
textarea,
select{
	font:100% Roboto, Arial, Helvetica, sans-serif;
	color:#343f52;
	outline:none;
}
::-moz-placeholder{
	color: #999;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #999;
}
::-webkit-input-placeholder {
	color: #999;
}
input[type="number"]{
	-moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner{
	padding:0;
	border:0;
}

.mb15{margin-bottom: 15px !important;}

/* modal */
.modal-open{
	overflow: hidden;
}
.modal{
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1050;
	display: none;
	background: rgba(0, 0, 0, 0.8);
}
.close-modal{
	background: url('../images/times.svg') no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	height: 14px;
	position: absolute;
	right: -25px;
	top: 0;
	width: 14px;
	border: none;
	padding: 0;
	cursor: pointer;
	transition: all 0.3s ease;
}
.close-modal:hover{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.modal-dialog{
	height: 100%;
	left: 0;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 201;
}
.modal-table{
	display: table;
	height: 100%;
	width: 100%;
	table-layout: fixed;
}
.modal-cell{
	display: table-cell;
	padding: 10px;
	vertical-align: middle;
}
.modal-main{
	margin: 0 auto;
	max-width: 700px;
	background: #fff;
	padding: 25px 30px 30px;
	position: relative;
	border-radius: 4px;
}
.modal-sm{
	max-width: 420px;
}
.modal-md{
	max-width: 680px;
}
.modal-lg{
	max-width: 880px;
}
.modal-title{
	font: 36px/42px "Roboto Slab",arial,helvetica,sans-serif;
	margin: 0 0 15px;
}
.litebox-modal{
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	top: 0;
	text-align: center;
	position: fixed;
	left: 0;
	z-index: 200;
}
.litebox-modal.done img{
	display: none;
}
.lightbox-loader{
	border-radius: 50px;
	cursor: wait;
	left: 50%;
	margin: -27px 0 0 -27px;
	overflow: hidden;
	padding: 2px;
	position: absolute;
	top: 50%;
	z-index: 201;
}
/* container */
.container{
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

/*header*/
#header{
	padding: 15px 0;
	height: 80px;
	border-bottom: 2px solid #ccc;
}
#header .holder{
	padding: 15px 0;
	background: #fff;
	transition: all 0.3s ease;
	top: -48px;
}
#header.fixed .holder{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
#nav ul{
	font-size: 0;
	line-height: 0;
}
#nav li{
	display: inline-block;
	vertical-align: top;
	width: 170px;
}
#nav a{
	text-decoration: none;
	color: #000;
	font-size: 14px;
	line-height: 18px;
	display: block;
}
#nav a:hover{

}

h1{
	margin: 0 0 40px;
	font-size: 36px;
	line-height: 46px;
}
.portfolio-block{
	border-bottom: 2px solid #000;
	padding: 70px 0 100px;
}
.portfolio-block:first-child{
	padding-top: 30px;
}
.portfolio-block .title{
	text-align: center;
	margin: 0 0 30px;
	font-size: 30px;
	line-height: 36px;
}
.portfolio-block .title strong{
	font-weight: 400;
}
.portfolio-block .title strong:before{
	content: '|';
	color: #000;
	padding: 0 20px;
}
.portfolio-block .desc{
	margin: 0 0 30px;
}
.project{
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	padding: 30px;
	margin: 0 0 50px;
}
.project:last-child{
	margin: 0;
}
.project-image{
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	margin: 0 -15px 30px;
}
.project-image .col{
	-ms-flex: 0 0 55%;
	flex: 0 0 55%;
	padding: 0 15px;
}
.project-image .col:first-child{
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
}
.project .sub-title{
	display: block;
	text-transform: uppercase;
	margin: 0 0 10px;
	padding: 10px 15px;
	color: #333;
	background: #f5f5f5;
}
.project .sub-title span{
    text-transform: none;
}
.project-image .image{
	overflow: hidden;
	border: 1px solid #ccc;
}
.project-desc{
	text-align: center;
	font-weight: bold;
	border-top: 1px solid #ccc;
	padding: 25px 0 0;
}
.project-img-desc{
	display: -ms-flex;
	display: flex;
	align-items: center;
	border-top: 1px solid #ccc;
	padding: 25px 0 0;
	font-size: 14px;
	line-height: 24px;
}
.project-img-desc .img{
	-ms-flex: 0 0 150px;
	flex: 0 0 150px;
	width: 150px;
	margin: 0 30px;
	overflow: hidden;
	text-align: center;
	line-height: 20px;
}
.project-img-desc .img img{
	margin: 0 0 5px;
	max-width: 100px;
}
.project-img-desc .text-sm{
	font-size: 12px;
}
.image-gallery{
	display: -ms-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
    margin: 0 -15px -30px;
}
.image-gallery a{
	-ms-flex: 0 0 calc((100% - 90px)/3);
	flex: 0 0 calc((100% - 90px)/3);
	margin: 0 15px 30px;
	border: 1px solid #ccc;
}
.expanded-gallery{
	display: none;
	width: 100% !important;
    padding: 30px 0 0;
}
.view-hide-link{
	text-align: right;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	padding: 20px 0 0;
}
.view-hide-link strong{
	cursor: pointer;
}
.view-hide-link strong:hover{
	color: #cc4125;
}
.view-hide-link .hide,
.view-hide-link .active .view{
	display: none;
}
.view-hide-link .active .hide{
	display: block;
}


.centered-page{
	background-color: rgba(182,215,168,0.1);
}
.centered-block-holder{
	display: -ms-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	min-height: 100%;
}
.centered-block{
	width: 700px;
}
.white-block{
    background: #fff;
    border: 2px solid #ccc;
    padding: 30px;
    min-height: 30vh;
}
.white-block h1{
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 15px;
}

/* media queries */
@media(max-width: 767px){
	body{
		font-size: 14px;
		line-height: 24px;
	}
	#nav{
		text-align: center;
	}
	#nav li{
		width: auto;
		margin: 0 20px;
	}
	#nav a{
		font-size: 12px;
	}
	h1{
		text-align: center;
		font-size: 32px;
		line-height: 42px;
	}
	.portfolio-block{
		padding: 40px 15px 50px;
	}
	.project{
		padding: 15px;
		margin: 0 0 20px;
	}
	.image-gallery{
		margin: 0 -5px -10px;
	}
	.image-gallery a{
		-ms-flex: 0 0 calc((100% - 30px)/3);
		flex: 0 0 calc((100% - 30px)/3);
		margin: 0 5px 10px;
	}
    .expanded-gallery{
        padding: 10px 0 0;
    }
    .view-hide-link{
        font-size: 12px;
        line-height: 15px;
        padding: 10px 0 0;
    }
	.project-img-desc{
		display: block;
	}
	.project-img-desc .img{
		margin: 0 auto 30px;
	}
	.project-img-desc .text{
		padding: 0 10px;
	}

	.centered-block{
		width: 100%;
		padding: 15px;
	}
}
@media(max-width: 479px){
	.project-image{
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.project-image .col + .col{
		margin-top: 20px;
	}
}