﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:640px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u6812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:640px;
  height:960px;
}
#u6812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:54px;
}
#u6813 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:118px;
  width:230px;
  height:54px;
}
#u6813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:97px;
}
#u6815 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-4px;
  width:672px;
  height:97px;
}
#u6815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:68px;
}
#u6816 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:8px;
  width:274px;
  height:68px;
}
#u6816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:107px;
}
#u6818 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:993px;
  width:652px;
  height:107px;
}
#u6818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
}
#u6819 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:1062px;
  width:87px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u6820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:24px;
}
#u6820 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:1062px;
  width:122px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u6821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
}
#u6821 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:1062px;
  width:67px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u6822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:48px;
}
#u6822 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:1014px;
  width:76px;
  height:48px;
}
#u6822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
}
#u6823 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1062px;
  width:68px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u6824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:53px;
}
#u6824 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:1011px;
  width:83px;
  height:53px;
}
#u6824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:41px;
}
#u6825 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1015px;
  width:67px;
  height:41px;
}
#u6825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
}
#u6826 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:1012px;
  width:65px;
  height:47px;
}
#u6826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6827 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6828 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:49px;
}
#u6829 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:1011px;
  width:51px;
  height:49px;
}
#u6829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:24px;
}
#u6830 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:1062px;
  width:91px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u6831 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6832 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6833 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:53px;
}
#u6836 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:16px;
  width:123px;
  height:53px;
  font-size:20px;
}
#u6836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u6837 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:28px;
  width:65px;
  height:24px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u6838 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:19px;
  width:99px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:58px;
}
#u6840 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:10px;
  width:83px;
  height:58px;
}
#u6840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6841 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:13px;
  width:87px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:665px;
}
#u6842 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:275px;
  width:541px;
  height:664px;
}
#u6842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:70px;
}
#u6843 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:206px;
  width:539px;
  height:69px;
}
#u6843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:52px;
}
#u6844 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:216px;
  width:330px;
  height:51px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:42px;
  color:#FFFFFF;
}
#u6844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u6845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:37px;
}
#u6845 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:284px;
  width:360px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u6845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u6846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:37px;
}
#u6846 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:469px;
  width:412px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u6846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  word-wrap:break-word;
}
#u6847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:37px;
}
#u6847 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:656px;
  width:360px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u6847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u6848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:35px;
}
#u6848 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:319px;
  width:359px;
  height:34px;
  color:#5E5E5E;
}
#u6848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  word-wrap:break-word;
}
#u6849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:35px;
}
#u6849 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:504px;
  width:312px;
  height:34px;
  color:#5E5E5E;
}
#u6849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u6850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:35px;
}
#u6850 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:692px;
  width:359px;
  height:34px;
  font-size:30px;
  color:#5E5E5E;
}
#u6850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  word-wrap:break-word;
}
#u6851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:94px;
}
#u6851 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:366px;
  width:540px;
  height:93px;
}
#u6851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:37px;
}
#u6852 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:377px;
  width:360px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u6852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u6853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:35px;
}
#u6853 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:412px;
  width:359px;
  height:34px;
  color:#5E5E5E;
}
#u6853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  word-wrap:break-word;
}
#u6854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:94px;
}
#u6854 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:550px;
  width:540px;
  height:93px;
}
#u6854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:37px;
}
#u6855 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:562px;
  width:182px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u6855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u6856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:35px;
}
#u6856 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:597px;
  width:308px;
  height:34px;
  font-size:30px;
  color:#5E5E5E;
}
#u6856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u6857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:194px;
}
#u6857 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:744px;
  width:541px;
  height:193px;
}
#u6857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:69px;
}
#u6858 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:792px;
  width:505px;
  height:68px;
  font-size:30px;
  color:#5E5E5E;
}
#u6858_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u6859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:35px;
}
#u6859 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:752px;
  width:505px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#5E5E5E;
}
#u6859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
