﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:818px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:1790px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:-80px;
  width:962px;
  height:1790px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:266px;
  width:640px;
  height:1096px;
}
#u1_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1096px;
  overflow:hidden;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:226px;
  width:640px;
  height:40px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:1418px;
  width:154px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
