﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:640px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u7611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:640px;
  height:960px;
}
#u7611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
}
#u7612 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:111px;
  width:240px;
  height:54px;
}
#u7612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:97px;
}
#u7614 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-4px;
  width:672px;
  height:97px;
}
#u7614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:68px;
}
#u7615 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:8px;
  width:274px;
  height:68px;
}
#u7615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:107px;
}
#u7617 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:993px;
  width:652px;
  height:107px;
}
#u7617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
}
#u7618 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:1062px;
  width:87px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u7619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:24px;
}
#u7619 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:1062px;
  width:122px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u7620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
}
#u7620 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:1062px;
  width:67px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u7621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:48px;
}
#u7621 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:1014px;
  width:76px;
  height:48px;
}
#u7621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
}
#u7622 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:1062px;
  width:68px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u7623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:53px;
}
#u7623 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:1011px;
  width:83px;
  height:53px;
}
#u7623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:41px;
}
#u7624 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:1015px;
  width:67px;
  height:41px;
}
#u7624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
}
#u7625 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:1012px;
  width:65px;
  height:47px;
}
#u7625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7626 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7627 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:49px;
}
#u7628 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1011px;
  width:51px;
  height:49px;
}
#u7628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:24px;
}
#u7629 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:1062px;
  width:91px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u7630 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7631 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7632 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:53px;
}
#u7635 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:16px;
  width:123px;
  height:53px;
  font-size:20px;
}
#u7635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u7636 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:28px;
  width:65px;
  height:24px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u7637 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:19px;
  width:99px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:58px;
}
#u7639 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:10px;
  width:83px;
  height:58px;
}
#u7639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7640 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:13px;
  width:87px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:665px;
}
#u7641 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:275px;
  width:541px;
  height:664px;
}
#u7641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:70px;
}
#u7642 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:206px;
  width:539px;
  height:69px;
}
#u7642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:52px;
}
#u7643 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:216px;
  width:262px;
  height:51px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:42px;
  color:#FFFFFF;
}
#u7643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u7644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:37px;
}
#u7644 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:284px;
  width:506px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u7644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u7645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:37px;
}
#u7645 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:469px;
  width:506px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u7645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u7646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:37px;
}
#u7646 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:656px;
  width:506px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u7646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u7647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:35px;
}
#u7647 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:319px;
  width:505px;
  height:34px;
  color:#5E5E5E;
}
#u7647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u7648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:35px;
}
#u7648 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:504px;
  width:505px;
  height:34px;
  color:#5E5E5E;
}
#u7648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u7649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:35px;
}
#u7649 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:692px;
  width:505px;
  height:34px;
  font-size:30px;
  color:#5E5E5E;
}
#u7649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u7650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:94px;
}
#u7650 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:366px;
  width:541px;
  height:93px;
}
#u7650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:37px;
}
#u7651 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:377px;
  width:506px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u7651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u7652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:35px;
}
#u7652 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:412px;
  width:505px;
  height:34px;
  color:#5E5E5E;
}
#u7652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u7653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:94px;
}
#u7653 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:550px;
  width:541px;
  height:93px;
}
#u7653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:37px;
}
#u7654 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:562px;
  width:506px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u7654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u7655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:35px;
}
#u7655 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:597px;
  width:505px;
  height:34px;
  font-size:30px;
  color:#5E5E5E;
}
#u7655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u7656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:194px;
}
#u7656 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:744px;
  width:541px;
  height:193px;
}
#u7656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:69px;
}
#u7657 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:792px;
  width:505px;
  height:68px;
  font-size:30px;
  color:#5E5E5E;
}
#u7657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u7658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:35px;
}
#u7658 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:752px;
  width:505px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#5E5E5E;
}
#u7658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
