﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:640px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u8052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:640px;
  height:960px;
}
#u8052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:54px;
}
#u8053 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:118px;
  width:225px;
  height:54px;
}
#u8053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:97px;
}
#u8055 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-4px;
  width:672px;
  height:97px;
}
#u8055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:68px;
}
#u8056 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:8px;
  width:274px;
  height:68px;
}
#u8056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:107px;
}
#u8058 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:993px;
  width:652px;
  height:107px;
}
#u8058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
}
#u8059 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:1062px;
  width:87px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u8060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:24px;
}
#u8060 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:1062px;
  width:122px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u8061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
}
#u8061 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:1062px;
  width:67px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u8062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:48px;
}
#u8062 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:1014px;
  width:76px;
  height:48px;
}
#u8062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
}
#u8063 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:1062px;
  width:68px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u8064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:53px;
}
#u8064 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:1011px;
  width:83px;
  height:53px;
}
#u8064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:41px;
}
#u8065 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:1015px;
  width:67px;
  height:41px;
}
#u8065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
}
#u8066 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:1012px;
  width:65px;
  height:47px;
}
#u8066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8067 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8068 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:49px;
}
#u8069 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1011px;
  width:51px;
  height:49px;
}
#u8069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:24px;
}
#u8070 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:1062px;
  width:91px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8070_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u8071 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8072 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8073 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:53px;
}
#u8076 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:16px;
  width:123px;
  height:53px;
  font-size:20px;
}
#u8076_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u8077 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:28px;
  width:65px;
  height:24px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8077_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u8078 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:19px;
  width:99px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:58px;
}
#u8080 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:10px;
  width:83px;
  height:58px;
}
#u8080_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8081 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:13px;
  width:87px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:665px;
}
#u8082 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:275px;
  width:541px;
  height:664px;
}
#u8082_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:70px;
}
#u8083 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:206px;
  width:539px;
  height:69px;
}
#u8083_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:52px;
}
#u8084 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:216px;
  width:262px;
  height:51px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:42px;
  color:#FFFFFF;
}
#u8084_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u8085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:37px;
}
#u8085 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:284px;
  width:506px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u8085_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u8086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:37px;
}
#u8086 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:469px;
  width:506px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u8086_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u8087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:37px;
}
#u8087 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:656px;
  width:506px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u8087_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u8088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:35px;
}
#u8088 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:319px;
  width:505px;
  height:34px;
  color:#5E5E5E;
}
#u8088_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u8089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:35px;
}
#u8089 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:504px;
  width:505px;
  height:34px;
  color:#5E5E5E;
}
#u8089_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u8090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:35px;
}
#u8090 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:692px;
  width:505px;
  height:34px;
  font-size:30px;
  color:#5E5E5E;
}
#u8090_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u8091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:94px;
}
#u8091 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:366px;
  width:541px;
  height:93px;
}
#u8091_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:37px;
}
#u8092 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:377px;
  width:506px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u8092_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u8093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:35px;
}
#u8093 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:412px;
  width:505px;
  height:34px;
  color:#5E5E5E;
}
#u8093_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u8094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:94px;
}
#u8094 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:550px;
  width:541px;
  height:93px;
}
#u8094_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:37px;
}
#u8095 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:562px;
  width:506px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u8095_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u8096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:35px;
}
#u8096 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:597px;
  width:505px;
  height:34px;
  color:#5E5E5E;
}
#u8096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u8097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:194px;
}
#u8097 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:744px;
  width:541px;
  height:193px;
}
#u8097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:69px;
}
#u8098 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:792px;
  width:505px;
  height:68px;
  font-size:30px;
  color:#5E5E5E;
}
#u8098_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u8099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:35px;
}
#u8099 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:752px;
  width:505px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#5E5E5E;
}
#u8099_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
