﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:656px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:423px;
}
#u8573 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:557px;
  width:716px;
  height:423px;
}
#u8573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:159px;
}
#u8574 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:310px;
  width:493px;
  height:159px;
}
#u8574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:62px;
}
#u8575 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:477px;
  width:587px;
  height:62px;
}
#u8575_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:71px;
}
#u8576 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1024px;
  width:639px;
  height:71px;
}
#u8576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:43px;
}
#u8577 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:979px;
  width:226px;
  height:42px;
  font-size:36px;
  color:#CCCCCC;
}
#u8577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u8578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
}
#u8579 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:828px;
  width:10px;
  height:21px;
}
#u8579_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u8580 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:829px;
  width:17px;
  height:24px;
}
#u8580_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8581 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:835px;
  width:22px;
  height:22px;
}
#u8581_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u8582 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:846px;
  width:24px;
  height:18px;
}
#u8582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u8583 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:858px;
  width:22px;
  height:10px;
}
#u8583_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u8584 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:862px;
  width:23px;
  height:17px;
}
#u8584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u8585 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:871px;
  width:17px;
  height:24px;
}
#u8585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:22px;
}
#u8586 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:874px;
  width:10px;
  height:22px;
}
#u8586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u8587 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:871px;
  width:17px;
  height:24px;
}
#u8587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8588 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:868px;
  width:22px;
  height:22px;
}
#u8588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u8589 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:863px;
  width:24px;
  height:18px;
}
#u8589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u8590 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:857px;
  width:22px;
  height:10px;
}
#u8590_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u8591 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:845px;
  width:23px;
  height:17px;
}
#u8591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8592 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:835px;
  width:22px;
  height:22px;
}
#u8592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u8593 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:829px;
  width:17px;
  height:24px;
}
#u8593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
}
#u8594 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:828px;
  width:10px;
  height:21px;
}
#u8594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u8595 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:867px;
  width:23px;
  height:22px;
}
#u8595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
