﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:640px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u7660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:640px;
  height:960px;
}
#u7660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
}
#u7661 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:111px;
  width:240px;
  height:54px;
}
#u7661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:97px;
}
#u7663 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-4px;
  width:672px;
  height:97px;
}
#u7663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:68px;
}
#u7664 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:8px;
  width:274px;
  height:68px;
}
#u7664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:107px;
}
#u7666 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:993px;
  width:652px;
  height:107px;
}
#u7666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
}
#u7667 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:1062px;
  width:87px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u7668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:24px;
}
#u7668 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:1062px;
  width:122px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u7669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
}
#u7669 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:1062px;
  width:67px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u7670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:48px;
}
#u7670 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:1014px;
  width:76px;
  height:48px;
}
#u7670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
}
#u7671 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:1062px;
  width:68px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u7672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:53px;
}
#u7672 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:1011px;
  width:83px;
  height:53px;
}
#u7672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:41px;
}
#u7673 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:1015px;
  width:67px;
  height:41px;
}
#u7673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
}
#u7674 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:1012px;
  width:65px;
  height:47px;
}
#u7674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7675 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7676 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:49px;
}
#u7677 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1011px;
  width:51px;
  height:49px;
}
#u7677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:24px;
}
#u7678 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:1062px;
  width:91px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u7679 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7680 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7681 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:1001px;
  width:114px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:53px;
}
#u7684 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:16px;
  width:123px;
  height:53px;
  font-size:20px;
}
#u7684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u7685 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:28px;
  width:65px;
  height:24px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u7686 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:19px;
  width:99px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:58px;
}
#u7688 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:10px;
  width:83px;
  height:58px;
}
#u7688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7689 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:13px;
  width:87px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:665px;
}
#u7690 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:275px;
  width:541px;
  height:664px;
}
#u7690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:70px;
}
#u7691 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:206px;
  width:539px;
  height:69px;
}
#u7691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:52px;
}
#u7692 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:216px;
  width:262px;
  height:51px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:42px;
  color:#FFFFFF;
}
#u7692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u7693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:37px;
}
#u7693 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:284px;
  width:506px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u7693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u7694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:37px;
}
#u7694 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:469px;
  width:506px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u7694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u7695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:37px;
}
#u7695 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:656px;
  width:506px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u7695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u7696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:35px;
}
#u7696 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:319px;
  width:505px;
  height:34px;
  color:#5E5E5E;
}
#u7696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u7697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:35px;
}
#u7697 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:504px;
  width:505px;
  height:34px;
  color:#5E5E5E;
}
#u7697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u7698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:35px;
}
#u7698 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:692px;
  width:505px;
  height:34px;
  font-size:30px;
  color:#5E5E5E;
}
#u7698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u7699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:94px;
}
#u7699 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:366px;
  width:541px;
  height:93px;
}
#u7699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:37px;
}
#u7700 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:377px;
  width:506px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u7700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u7701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:35px;
}
#u7701 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:412px;
  width:505px;
  height:34px;
  color:#5E5E5E;
}
#u7701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u7702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:94px;
}
#u7702 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:550px;
  width:541px;
  height:93px;
}
#u7702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:37px;
}
#u7703 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:562px;
  width:506px;
  height:36px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#666666;
}
#u7703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u7704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:35px;
}
#u7704 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:597px;
  width:505px;
  height:34px;
  font-size:30px;
  color:#5E5E5E;
}
#u7704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u7705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:194px;
}
#u7705 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:744px;
  width:541px;
  height:193px;
}
#u7705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:69px;
}
#u7706 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:792px;
  width:505px;
  height:68px;
  font-size:30px;
  color:#5E5E5E;
}
#u7706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u7707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:35px;
}
#u7707 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:752px;
  width:505px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#5E5E5E;
}
#u7707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
